html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover {
  color: limegreen;
}

h1, h2 {
  text-align: center;
}

header, main {
  margin: auto;
  margin-bottom: 30px;
  width: 50%;
}

nav {
  max-width: fit-content;
  margin: auto;
}

nav a {
  margin-right: 8px;
}

img {
  width: 80%;
  margin: auto;
  display: block;
}

li {
  margin-bottom: 10px;
}

footer {
  font-weight: bold;
  padding: 20px 15px 20px 15px;
  background-color: black;
}

footer * {
  color: white;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}
